<article class="row">
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
  <div class="card  col-6 col-md-3 p-0 ms-5 my-2">
    <a href="about.html">
      <img src="https://unsplash.it/200/200" class="card-img-top " alt="..." />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
      <div class="text-center bg-warning">$ 200</div>
    </a>
  </div>
</article>
